// Media Queries
@media (min-width: 400px) {
    .nav-btns{
        grid-column-start: 5;
        padding: 0 10px;
    }
    #sign-up{
        display: inline;
    }
}
@media (min-width: 708px){
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
        max-width: 600px;
    }
    @for $i from 1 through 12 {
        .col-#{$i}{
            grid-column: span 6;
        }
    }
    nav.grid-container{
        display: flex;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .logo{
        order: 0;
    }
    .nav-menu{
        display: flex;
        order: 1;
        width: 53%;
    }
    .nav-item a{
        margin: 0 5px;
    }
    #sign-up{
        display: none;
    }
    .form{
        order: 2;
    }
    .nav-btns{
        order: 3;
    }
    .nav-btns a{
        margin: 0;
    }
    .hamburger{
        display: none;
    }
    #sign-up{
        display: inline;
    }
    .explore-communities.grid-container{
        margin: 120px auto;
    }
    .explore-communities:last-child.grid-container{
        margin: 0px 0px;
    }
    // Main Headings
    .main-headings{
        width: 100%;
        max-width: 100%;
    }

    // Main Description
    .main-desc{
        font-size: 24px;
        width: 100%;
        max-width: 100%;
        margin: 24px 0px;
    }

    .grid-col{
        grid-column: span 6;
    }
    .footer-creator{
        display: flex;
        gap: 15vw;
    }
    .footer-links{
        display: grid;
        grid-template-areas: "social creator helpp socialmedia";
        align-items: baseline;

        .cta{
            flex-direction: column;
            gap: 0;
            a{
                margin: 0;
            }
        }
    }
    .footer-link-col{
        padding: 24px 24px 40px;
    }
    .footer-link-col:last-child{
        background: transparent;
        flex-direction: column;
        gap: inherit;
        a{
            color: gray;
        }
    }

}
@media (min-width: 870px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
    @for $i from 1 through 12 {
        .col-#{$i}{
            grid-column: span $i;
        }
    }
    nav.grid-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1260px;
        width: 100%;
        margin: 0 auto;
    }
    .nav-menu{
        width: fit-content;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .form{
        grid-column-start: 9;
        grid-column-end: 9;
    }
    .nav-btns{
        grid-column-start:10;
        grid-column-end: 13;
    }
    .wrapper{
        margin: 0 auto;
        top: 0;
    }
    .explore-communities.grid-container{
       padding: 0 20px;
    }
    .explore-communities:last-child.grid-container{
        margin: 0px 0 0 -20px;
    }

    // Main Headings
    .main-headings{
        max-width: 86%;
    }

    // Main Description
    .main-desc{
        max-width: 80%;
    }

    .explore-challenges{
        .outer-slider {
            overflow: hidden;
            margin: 0 0 0px;
            position: relative;
            cursor: pointer;
        }
        .inner-slider {
            position: static;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            column-gap: 5px;
        }
    }
    .grid-col{
        grid-column-start: 2;
        grid-column-end: 12;
    }
    .challenge-card{
        max-width: 320px;
    }
    .challenge-card-img{
        max-width: 320px;
    }
    .challenge-card-heading{
        font-size: 20px;
    }
    .challenge-flex{
        span{
            font-size: 11px;
        }
    }
    #challenge2{
        left: 9vw;
    }
    .challenge-card-footer{    
        gap: 5px;
    }
    .challenge-card-creator{
        margin-left: 10px;
    }
    .join-bg{
        min-height: 90vh;

        .section-text{
            margin: 100px 0;
        }  
        .wrapper{
            width: 400px;
            height: 400px;
        }
        .card{
            top: -60px;
            left: -35px;
        }

        .cta{
            flex-direction: column;
            a{
                margin: 0;
            }
        }
    }
    #mobile{
        width: 470px;
        height: 680px;
    }

    .footer-links{ 
        .cta{
            margin: 20px 0;
            flex-direction: row;
            gap: 20px;
        }
    }
}
@media (min-width: 850px) {
    .challenge-card{
        max-width: 340px;
    }
    .challenge-card-img{
        max-width: 340px;
    }
}
@media (min-width: 1000px) {
    .nav-menu{
        grid-column-end: 9;
    }
    .form{
        grid-column-start: 9;
        grid-column-end: 9;
    }
    .nav-btns{
        grid-column-start:10;
        grid-column-end: 13;
    }
    #sign-up{
        margin-right: 20px;
    }
    #nav-search{
        display: inline;
    }
    #search-icon{
        display: none;
    }
    .challenge-card{
        max-width: 380px;
    }
    .challenge-card-img{
        max-width: 380px;
    }
    .join-bg{
        .cta{
            flex-direction: row;
        }
    }
    #mobile{
        height: 655px;
    }
}
@media (min-width: 1200px) {
    .nav-menu{
        grid-column-end: 5;
    }
    .form{
        grid-column-start: 7;
        grid-column-end: 8;
    }
    .nav-btns{
        grid-column-start:10;
        grid-column-end: 13;
    }
    .section-container{
        padding: 120px 20px;
    }
    header .section-container{
        padding:120px 20px 0;
    }
    // Main Headings
    .main-headings{
        font-size: 4rem;
        line-height: 4.3rem;
        width: 100%;
        max-width: 100%;
    }
    
    /* Card */
    .wrapper{
        width: 470px;
        height: 470px;
    }
    .card{
        padding: 0px 0px 32px;
    }
    $max-width: 370px;
    .welcome-card-img{
        width: $max-width + 20px;
    }
    .card-text{
        padding: 10px 40px;
        max-width: $max-width;
    }
    .title-text{
        font-size: 1em;
        margin: 0 0 10px;
    }
    .title-creator{
        margin: 10px 0 15px;
    }
    .card-desc{
        font-size: 12px;
    }
    .members{
        padding:  0 25px;
        span{
            margin-left: 110px;
        }
    }
    .yellow-star{
        right: 0;
        bottom: 15%;
    }
    .dive-pointer{
        margin: 48px 32px 0;
    }
    .dive-pointer:first-child{
        margin: 48px 32px 0 0;
    }
    .pointer-heading, .pointer-desc{
        max-width: 300px;
    }

    // Events
    .live-events-bg, .challenges-bg{
        padding: 0 20px;
    }
    .live-events-bg .wrapper{
        width: 480px;
        height: 450px;
    }
    .events-card{
        background-color: white;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        margin: 0 auto;
    }
    .event-card-img{
        width: inherit;
        max-width: 400px;
    }
    .event-card-text{
        padding: 16px;
        min-width: 390px;
    }
    .challenges-bg{
            // Main Headings
            .main-headings{
                width: 100%;
                max-width: 80%;
            }
            .yellow-star{
                left: -5%;
            }
            // Main Description
            .main-desc{
                width: 100%;
                max-width: 70%;
            }
            .wrapper{
                width: 410px;
                height: 400px;
                margin: 0;
            }
    }

    .explore-challenges{
        .inner-slider {
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
        }
    }
    .challenge-card{
        max-width: 340px;
    }
    .challenge-card-img{
        max-width: 340px;
    }
    .grid-col{
        grid-column: span 12;
    }
    .monetize-bg{
        .section-text{
            width: 80%;
            margin: 0;
        }
    }
    .explore-communities:last-child.grid-container{
        margin: 0px 0 0 -10px;
    }
    .join-bg{
        min-height: 100vh;

        .section-text{
            margin: 100px 0;
        }
        .card{
            top: -50px;
        }
    }
}
@media (min-width: 1400px) {
    .challenge-card{
        max-width: 380px;
    }
    .challenge-card-img{
        max-width: 380px;
    }
    .challenge-card-creator{
        margin-left: 50px;
    }
}