/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Body */
body {
    background-color: white;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* ======== Grid Container ========= */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    height: fit-content;
    padding: 10px;
}
.col-1,.col-2,.col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .grid-col {
grid-column: span 12;
}

/* ===== Common Styles =====  */
.section-container {
    padding: 64px 20px;
}
.section-text {
    margin: 0 auto;
}
/* Section Header */
.section-head {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

/* Main Headings */
.main-headings {
    font-weight: bold;
    letter-spacing: -0.03em;
    width: 100%;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 500px;
}

/* Main Description */
.main-desc {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 32px;
    width: 100%;
    margin: 0px 0;
    max-width: 450px;
}
/* Section Link */
.section-link {
    background: #271F4F;
    border-radius: 8px;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: fit-content;
    display: block;
    margin: 0px 0;
}
.live-events-bg, .challenges-bg, .creators-bg, .join-bg, .monetize-bg, .explore-communities {
    min-width: 400px;
}
.swiper-pagination-bullet{
    background-color: white !important;
}

/* === Dive Into Section ===== */
.dive-into img {
    margin: 32px 0px 0;
}
.pointer-heading {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    letter-spacing: -0.011em;
}
.pointer-desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.011em;
}
.pointer-heading, .pointer-desc {
    width: 100%;
    margin: 16px 0px;
}

/* ==== Monetize ===== */
.monetize-bg {
    background: #F8F7FD;
}

/* ====== Join ====== */
.join-bg {
    background-color: #000000;
    color: white;
    min-height: 100vh;
}
.join-bg .main-headings {
    width: 50%;
}
.join-bg .cta {
    display: flex;
    gap: 10px;
}
.join-bg .wrapper {
    width: 320px;
    height: 450px;
}
.join-bg .card {
    position: absolute;
    left: -40px;
    top: 0px;
    background-color: transparent;
    border: 0;
}
#mobile {
    width: 400px;
    height: 570px;
}
