/* ==== Navigation Bar ==== */
nav {
    background-color: white;
    width: fit-content;
}
.nav-menu {
    display: none;
}
nav a {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: black;
    margin: 0 12px;
}
#nav-search {
    background: #F4F4F4;
    border: 1px solid #F4F4F4;
    border-radius: 24px;
    padding: 8px 10px;
    display: none;
    width: fit-content;
}
.logo {
    order: 0;
    grid-column-start: 1;
    grid-column-end: 2;
}
.link {
    padding: 8px 10px;
}
.nav-btns {
    grid-column-start: 6;
    grid-column-end: 11;
    order: 1;
}
.nav-btns a {
margin: 0 5px;
}
.form {
    grid-column-start: 11;
    order: 2;
}
#sign-up {
    display: none;
}
#sign-in {
    background: #F4F4F4;
    border-radius: 24px;
}
.hamburger {
    grid-column-start: 12;
    grid-column-end: 13;
    order: 3;
}

