.cta a {
  margin: 32px 0px;
  display: block;
}

.cta span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

header {
  background: #F8F7FD;
  color: black;
  overflow: hidden;
  min-width: 400px;
  padding-bottom: 120px;
}

.section-container {
  padding: 64px 20px;
}

.dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dots span {
  height: 1px;
  width: 4px;
  font-size: 2rem;
  color: #A8A8A8;
}

.dots span:first-child {
  color: #3C2F78;
}

header .dots {
  bottom: -30px;
}

.live-events-bg .dots span:first-child {
  color: white;
}

.challenges-bg .dots {
  bottom: -80px;
}

.section-text {
  margin: 0 auto;
}

/* Card */
.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(#6A4EE3), to(#1C0095));
  background: linear-gradient(180deg, #6A4EE3 0%, #1C0095 100%);
  border-radius: 100%;
  width: 280px;
  height: 310px;
  margin: 50px auto;
  position: relative;
}

.star {
  position: absolute;
}

.black-star {
  top: 13%;
}

.yellow-star {
  right: -5.4%;
  bottom: 15%;
}

.card {
  background-color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #A8A8A8;
  border-radius: 16px;
  padding: 0 0 15px;
  margin: 0 auto;
}

.wrapper:hover {
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.19), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.11326), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0767396);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.19), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.11326), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0767396);
}

.welcome-card-img {
  width: 250px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px 10px 0;
  padding: 0 3px;
  font-style: normal;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-text {
  font-weight: 600;
  font-size: 0.75em;
  line-height: 150%;
  /* or 150% */
  letter-spacing: -0.02em;
}

.title-joined {
  height: 24px;
  border-radius: 8px;
  border: 1px solid #343A3F;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 4px;
}

.title-creator {
  margin: 16px 0px 0;
}

.creator {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creator span {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  padding-top: 4px;
  padding-left: 8px;
}

.creator-img {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
}

.card-desc {
  font-weight: 500;
  font-size: 0.5em;
  line-height: 20px;
  /* or 167% */
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 0;
}

.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 24px;
  margin: 15px 0px 0;
}

.members span {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-left: 110px;
}

.members-img {
  position: relative;
  left: 14px;
  bottom: 5.4px;
}

.members-img img {
  position: absolute;
}

.img-77 {
  left: 0px;
}

.img-78 {
  left: 16px;
}

.img-83 {
  left: 32px;
}

.img-79 {
  left: 48px;
}

.img-80 {
  left: 64px;
}

.dive-into img {
  margin: 32px 0px 0;
}

.pointer-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  letter-spacing: -0.011em;
}

.pointer-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */
  letter-spacing: -0.011em;
}

.pointer-heading, .pointer-desc {
  width: 100%;
  margin: 16px 0px;
}
/*# sourceMappingURL=header.css.map */